<div class="row">
  <div class="col-12">
    <div class="card mb-4">
      <div class="card-header pb-0">
        <h6 [hidden]="!contentLoaded">Consultar CPF:</h6>
        <ngx-skeleton-loader
          [hidden]="contentLoaded"
          count="1"
          [theme]="{ width: '20em', 'border-radius': '40', height: '40px' }"
        ></ngx-skeleton-loader>
      </div>
      <div class="card-body px-0 pt-0 pb-2">
        <div class="table-responsive px-4">
          <ngx-skeleton-loader
            [hidden]="contentLoaded"
            count="1"
            [theme]="{ 'border-radius': '40', height: '40px' }"
          ></ngx-skeleton-loader>
          <form [formGroup]="form" (ngSubmit)="submit()">
            <div [hidden]="!contentLoaded" class="form-group mb-4">
              <input class="form-control" name="cpf" id="cpf" [placeholder]="cpfPlaceholder" [mask]="cpfInputMask" formControlName="cpf" />
            </div>
            <div class="col-12 text-end">
              <ngx-skeleton-loader
                [hidden]="contentLoaded"
                count="1"
                [theme]="{ width: '12em', 'border-radius': '40', height: '40px', float: 'right', 'margin-left': '15px' }"
              ></ngx-skeleton-loader>
              <ngx-skeleton-loader
                [hidden]="contentLoaded"
                count="1"
                [theme]="{ width: '12em', 'border-radius': '40', height: '40px', float: 'right' }"
              ></ngx-skeleton-loader>
              <button (click)="reset();searchPeople = false" [hidden]="!contentLoaded" type="button" class="btn bg-gradient-secondary btn-block mb-3">
                <i class="fal fa-times-circle"></i>&nbsp;
                Limpar consulta
              </button>&nbsp;
              <button [hidden]="!contentLoaded" type="submit" class="btn bg-gradient-info btn-block mb-3">
                <i class="fal fa-search"></i>&nbsp;
                Pesquisar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" [hidden]="!searchPeople">
  TESTES
  <lib-ngx-people [pessoa]="pessoa$"></lib-ngx-people>
</div>
